.street-search-solicitante {
  width: auto;
  max-width: none;
  margin: 10px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fafafa;
  box-sizing: border-box;
}

.results-table td,
.mat-cell,
.mat-table td,
.mat-mdc-cell,
.mat-mdc-table td {
    vertical-align: top !important;
}

input {
  width: 250px;
  padding: 0 8px;
  margin-bottom: 0;
  height: 38px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="number"] {
  width: 100px;
}

button {
  padding: 0 18px;
  margin-left: 4px;
  height: 38px;
  font-size: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.error {
  color: red;
  margin-top: 8px;
}

th, .titulo-tabela {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 10px;
  font-weight: 700;
}
h1 {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}
h2, h3 {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
}
